html,body{
    margin: 0;
    padding: 0;

    background-color: #BFC3BA;
}


@font-face{
    font-family: 'RFKrabuler_Regular';  
    src: url('fonts/RFKrabuler_Regular.ttf');
}
@font-face{
    font-family: 'Neothic';  
    src: url('fonts/Neothic.ttf');
}
@font-face{
    font-family: 'Schule';  
    src: url('fonts/Schule.ttf');
}
@font-face{
    font-family: 'Akademitscheskaya';  
    src: url('fonts/Akademitscheskaya.ttf');
}


.main_conteiner{
    position: absolute;
    left: 50%;
    top: 100px;    

    width: 750px;
    height: 200px;

    margin-left: -375px;
}
.list_conteiner{
    width: 750px;
    box-sizing: content-box;

    background-color: #2F2235;
}
.items_block{
    display: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    box-sizing: content-box;
    height: 119px;

    border-bottom: 1px solid #60495A;
    margin: 10px 10px 10px 10px;
}
.label_input{
    content: '';
    display: block;
    
    width: 25px;
    height: 25px;

    margin: 0 10px 0 10px;

    background-color: #CA000D;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

    transition-duration: 0.1s;
}
.item_check:checked + .label_input{
    width: 25px;
    height: 25px;

    border: none;
    background-color: #02D317;
    clip-path: polygon(15% 29%, 0 58%, 50% 100%, 100% 40%, 80% 0%, 49% 69%);
}
.item_check{
    display: none;
}
.item_info_block{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100px;

    border-radius: 5px;

    background-color: #60495A;
}
.contact_info_block{
    padding-left: 25px;
}
.emain_info_block{
    padding-left: 50px;
}

.btn_block{
    display: flex;
    justify-content: space-between;

    position: relative;
    top: 20px;

    width: 260px;
    height: 60px;
}
.btn{
    width: 120px;
    height: 35px;

    outline: none;
    background-color: #260C1A;
    border: none;
    border-radius: 5px;

    font-weight: bold;
    color: #fff;
}
.userName{
    height: 40px;
    font-family: 'Akademitscheskaya';  
    font-weight: lighter;
    color: #E9E9E9;
}
.serial_nomber{
    position: relative;
    top: -10px;

    border-right: 1px solid #fff;
    margin-top: 0;
    font-family: 'Schule';
    font-size: 32px;
    color: #fff;
    padding: 0 15px 0 15px;
}
h2{
    font-family: 'Akademitscheskaya'; 
    font-weight: inherit; 
    color: #BFC3BA;
}
h4{
    font-family: 'Neothic'; 
    font-weight: inherit;
    font-size: 14px;
    color: #BFC3BA;
}   


.btn:hover{
    cursor: pointer;
    background-color: #728388;
    box-shadow: 0 0 5px #809399;
}
.label_input:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #CA000D;
}
.userName:hover{
    height: 38px;
    cursor: pointer;
    border-bottom: 2px solid #CA000D;
    transition-duration: 0.5s;
}